.form__input
  margin-bottom: 10px
  
  &-image
      margin-top: 30px

  input
    padding: 10px 20px
    border-radius: 4px
    border: 1px solid #CCCCCC
    margin-right: 20px
    margin-bottom: 5px
    outline: none
    width: 231px
    height: 34px

  .error-message
    color: #ED4343
    font-size: 12px