.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px;
  position: relative;
  font-family: 'Montserrat', sans-serif; }
  .App .search-container {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    align-items: center; }
