.search-bar
  position: relative

  .fa-search
    color: black
    font-size: 30px
    position: absolute
    top: 14px

  &-input
    font-size: 30px
    border: none
    border-bottom: 1px white solid
    padding: 10px 20px
    width: 550px
    text-indent: 20px
    color: #696969
    background-color: transparent

    &::-webkit-input-placeholder /* Chrome/Opera/Safari */
      color: #D4D4D4
      font-weight: 100
      font-style: italic

    &::-moz-placeholder /* Firefox 19+ */
      color: #D4D4D4
      font-weight: 100
      font-style: italic

    &:-ms-input-placeholder /* IE 10+ */
      color: #D4D4D4
      font-weight: 100
      font-style: italic

    &:-moz-placeholder /* Firefox 18- */
      color: #D4D4D4
      font-weight: 100
      font-style: italic

    &:focus
      outline: 0
