.pagination__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center; }
  @media only screen and (max-width: 549px) {
    .pagination__list {
      margin: 0;
      padding: 0; } }
  .pagination__list-item {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer; }
    .pagination__list-item:hover {
      text-decoration: underline; }
    .pagination__list-item--active {
      font-weight: 100;
      color: #42c5e2;
      cursor: default;
      text-decoration: none !important; }
