.result-list-container {
  margin: 10px auto 0 auto;
  width: 80%;
  -webkit-box-shadow: -1px 0px 18px 2px #3c3c74;
  -moz-box-shadow: -1px 0px 18px 2px #3c3c74;
  box-shadow: -1px 0px 18px 2px #3c3c74;
  border-radius: 4px;
  padding-left: 0;
  background-color: white; }
